footer{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 38vh;
    background: #262626;
    overflow: hidden;
    color: #fff;
    padding: 2rem .5rem;
    padding-bottom: 0;
    font-family: 'Lusitana', serif;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

footer h1{
    margin-top: 15px;
    margin-bottom: 75px;
    letter-spacing: 10px;
    text-transform: uppercase;
    @media screen and (max-width: 500px){
        font-size: 23px;
        margin-bottom: 30px;
    }
}


#dev-wrap{
    position: absolute;
    bottom: 0;
    text-align: center;
    color: var(--orange);
    font-size: 12px;
    padding: 2px;
    @media screen and (min-width: 500px){
        left: 0;
    }
}

#footer-logo{
    @media screen and (max-width: 568px){
        width: 180px;
    }
    @media screen and (max-width: 450px){
        width: 140px;
    }
}

footer p{
    letter-spacing: 3px;
    max-width: 700px;
    @media screen and (max-width: 500px){
        font-size: 12px !important;
    }
}

.footer-divider-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.footer-divider{
  height: 2px;
  width: 100%;
  background: var(--orange);
  margin: 0 auto;
  transform: rotate(-0.5deg);
  @media screen and (max-width: 768px){
    width: 50%;
  }
}