header{
    position: relative;
    padding: 0 20px;
    min-height: 75vh;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../../assets/bg/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 60px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 768px){
        text-align: center;
        h1{
            font-size: 60px;
        }
    }
}

.arrow{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    animation: bounce 2s infinite;
}

@media screen and (max-width: 768px){

}

.header-top{
    padding-top: 50px;
    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        color: #fff;
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px){
        h2 {
            margin-left: 200px;
        }
    }
        
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}